.icon-with-text--wrap {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

.icon-with-text--wrap ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4.2rem;

}

.icon-with-text--wrap ul li h3 {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.4rem;
    letter-spacing: 0.08rem;
    width: 100%;
    max-width: 14.5rem;
}

@media screen and (min-width: 990px) {
    .icon-with-text--wrap ul {
        width: 100%;
        flex-direction: row;
    }

    .icon-with-text--wrap ul li {
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .icon-with-text--wrap ul li h3 {
        font-size: 2rem;
        line-height: 2.8rem;
        letter-spacing: 0.1rem;
        width: 100%;
        max-width: 16.5rem;
    }
}